<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />

</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST" action="/">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input name="city" class="input" type="text" placeholder="City Name">
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    show
                                </button>
                            </div>
                        </div>
                    </form>
                    <br>
                    {% for message in messages %}
                        <span><strong>{{message}}</strong></span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left" {{city_weather.ishidden}}>
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{city_weather.icon}}.png">
                                </figure>
                            </div>
                            <div class="media-content" {{city_weather.ishidden}}>
                                <div class="content">
                                    <p>
                                        <span class="title">{{city_weather.city}}</span>
                                        <span class="title">, {{city_weather.country}}</span>
                                        <br>
                                        {{city_weather.desc}} <br><br>
                                        <span class="subtitle">Current temp: {{city_weather.temp}}</span>
                                        <br>
                                        <span class="subtitle">Min temp: {{city_weather.temp_min}}</span>
                                        <br>
                                        <span class="subtitle">Max temp: {{city_weather.temp_max}}</span>
                                        <br>
                                        <span class="subtitle">Humidity : {{city_weather.humidity}}</span>
                                        <br>
                                        <span class="subtitle">Visibility : {{city_weather.visibility}}</span>
                                        <br>
                                        <span class="subtitle">Wind speed : {{city_weather.wind_speed}}</span>

                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>

</html>